.support-header {
    color: white;
    font-family: 'Megrim', cursive;
    font-weight: 600;
    font-size: 50px;
}
.support-subtitle {
    font-family: 'Titillium Web', sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 25px;
}
.button {
        margin-top: 30px;
        	background-color:transparent;
        	border:1px solid #107ac1;
        	display:inline-block;
        	cursor:pointer;
        	color: #107ac1;
            font-family: 'Titillium Web', sans-serif;
        	font-size: 17px;
        	padding: 10px 30px;
            margin-bottom: 50%;
        	text-decoration:none;
        }
.button:hover {
        	background-color: #107ac1;
            text-decoration: none;
            color: #fff;
        }
.button:active {
        	position:relative;
        	top:1px;
        }
